In [102]:
'''
Install Docker
Install Docker for Mac: https://docs.docker.com/docker-for-mac/install/
OPTION 1: Run Postgres using a single Docker command
Run a postgres container
uses the official docker postgres 11 image
uses a named volume, my_dbdata, to store postgres data
exposes port 54320 to the host
sets the container name to my_postgres
uses the -d flag to run in the background
$ docker run -d --name my_postgres -v my_dbdata:/var/lib/postgresql/data -p 54320:5432 postgres:11
OPTION 2: Run Postgres using Docker Compose
Create a docker-compose.yml file
$ mkdir /tmp/myproject
$ cd /tmp/myproject
Create a new file docker-compose.yml:

version: "3"
services:
  db:
    image: "postgres:11"
    container_name: "my_postgres"
    ports:
      - "54320:5432"
    volumes:
      - my_dbdata:/var/lib/postgresql/data
volumes:
  my_dbdata:

  
uses docker compose file version 3
sets up a service named "db" (this name can be used with docker-compose commands)
uses the postgres:11 image from hub.docker.com
creates a container named "my_postgres"
connects port 5432 inside Docker as port 54320 on the host machine
uses a named volume, "my_dbdata", for storing the database data. Even if the container and image are deleted, the volume will remain unless explicitly deleted using docker volume rm.
for more information, see the Docker Compose file reference
Start Postgres
Pull the postgres image from hub.docker.com, create a container named "my_postgres", and start it in the background:

$ docker-compose up -d

'''

'\nInstall Docker\nInstall Docker for Mac: https://docs.docker.com/docker-for-mac/install/\nOPTION 1: Run Postgres using a single Docker command\nRun a postgres container\nuses the official docker postgres 11 image\nuses a named volume, my_dbdata, to store postgres data\nexposes port 54320 to the host\nsets the container name to my_postgres\nuses the -d flag to run in the background\n$ docker run -d --name my_postgres -v my_dbdata:/var/lib/postgresql/data -p 54320:5432 postgres:11\nOPTION 2: Run Postgres using Docker Compose\nCreate a docker-compose.yml file\n$ mkdir /tmp/myproject\n$ cd /tmp/myproject\nCreate a new file docker-compose.yml:\n\nversion: "3"\nservices:\n  db:\n    image: "postgres:11"\n    container_name: "my_postgres"\n    ports:\n      - "54320:5432"\n    volumes:\n      - my_dbdata:/var/lib/postgresql/data\nvolumes:\n  my_dbdata:\n\n  \nuses docker compose file version 3\nsets up a service named "db" (this name can be used with docker-compose commands)\nuses the postgres:11 image from hub.docker.com\ncreates a container named "my_postgres"\nconnects port 5432 inside Docker as port 54320 on the host machine\nuses a named volume, "my_dbdata", for storing the database data. Even if the container and image are deleted, the volume will remain unless explicitly deleted using docker volume rm.\nfor more information, see the Docker Compose file reference\nStart Postgres\nPull the postgres image from hub.docker.com, create a container named "my_postgres", and start it in the background:\n\n$ docker-compose up -d\n\n'

In [103]:
'''See that it's working
See the logs:

$ docker logs -f my_postgres
Try running psql:

$ docker exec -it my_postgres psql -U postgres
hit CTRL+D to exit

For other commands such as starting, stopping, listing or deleting, see my Docker cheat sheet.

Create a database
$ docker exec -it my_postgres psql -U postgres -c "create database my_database"
Connect using Python and psycopg2
$ python3.6 -m venv myenv
$ source myenv/bin/activate
$ pip install psycopg2-binary'''

'See that it\'s working\nSee the logs:\n\n$ docker logs -f my_postgres\nTry running psql:\n\n$ docker exec -it my_postgres psql -U postgres\nhit CTRL+D to exit\n\nFor other commands such as starting, stopping, listing or deleting, see my Docker cheat sheet.\n\nCreate a database\n$ docker exec -it my_postgres psql -U postgres -c "create database my_database"\nConnect using Python and psycopg2\n$ python3.6 -m venv myenv\n$ source myenv/bin/activate\n$ pip install psycopg2-binary'

In [104]:
import psycopg2

conn = psycopg2.connect(
    host='192.168.99.100',
    port=5436,
    dbname='reports',
    user='postgres',
    password='postgres',
    
)
cur = conn.cursor()
cur.execute("CREATE TABLE IF NOT EXISTS test (id serial PRIMARY KEY, num integer, data varchar);")

from sqlalchemy.sql import select
import sqlalchemy as db
s=select([db.func.avg(orderlines.columns.discounted_amount),orders.columns.created_at]).group_by(orders.columns.created_at)
result = conn.execute(s)
print(result)
for row in result:
   print (row)
cur.execute("SELECT * FROM test;")
result = cur.fetchone()
print(result)
conn.commit()
cur.close()
conn.close()

AttributeError: 'psycopg2.extensions.connection' object has no attribute 'execute'

In [105]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, ForeignKey
# engine = create_engine('sqlite:///college.db', echo=True)

db_string = "postgresql://postgres:postgres@192.168.99.100:5436/reports"
engine = create_engine(db_string)
meta = MetaData()

conn = engine.connect()
students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)
meta.create_all(engine)
conn.execute(students.insert(), [
   {'name':'Ravi', 'lastname':'Kapoor'},
   {'name':'Rajiv', 'lastname' : 'Khanna'},
   {'name':'Komal','lastname' : 'Bhandari'},
   {'name':'Abdul','lastname' : 'Sattar'},
   {'name':'Priya','lastname' : 'Rajhans'},
])

addresses = Table(
   'addresses', meta, 
   Column('id', Integer, primary_key = True), 
   Column('st_id', Integer), 
   Column('postal_add', String), 
   Column('email_add', String)
)
meta.create_all(engine)
conn.execute(addresses.insert(), [
   {'st_id':1, 'postal_add':'Shivajinagar Pune', 'email_add':'ravi@gmail.com'},
   {'st_id':1, 'postal_add':'ChurchGate Mumbai', 'email_add':'kapoor@gmail.com'},
   {'st_id':3, 'postal_add':'Jubilee Hills Hyderabad', 'email_add':'komal@gmail.com'},
   {'st_id':5, 'postal_add':'MG Road Bangaluru', 'email_add':'as@yahoo.com'},
   {'st_id':2, 'postal_add':'Cannought Place new Delhi', 'email_add':'admin@khanna.com'},
])

meta.create_all(engine)

In [106]:
from sqlalchemy.sql import select
s = select([students, addresses]).where(students.c.id == addresses.c.st_id)
result = conn.execute(s)

for row in result:
   print (row)

Exception during reset or similar
Traceback (most recent call last):
  File "C:\Users\surya\AppData\Local\Programs\Python\Python38-32\lib\site-packages\sqlalchemy\pool\base.py", line 693, in _finalize_fairy
    fairy._reset(pool)
  File "C:\Users\surya\AppData\Local\Programs\Python\Python38-32\lib\site-packages\sqlalchemy\pool\base.py", line 880, in _reset
    pool._dialect.do_rollback(self)
  File "C:\Users\surya\AppData\Local\Programs\Python\Python38-32\lib\site-packages\sqlalchemy\engine\default.py", line 540, in do_rollback
    dbapi_connection.rollback()
psycopg2.OperationalError: could not receive data from server: Software caused connection abort (0x00002745/10053)

(1, 'Ravi', 'Kapoor', 1, 1, 'Shivajinagar Pune', 'ravi@gmail.com')
(1, 'Ravi', 'Kapoor', 2, 1, 'ChurchGate Mumbai', 'kapoor@gmail.com')
(3, 'Komal', 'Bhandari', 3, 3, 'Jubilee Hills Hyderabad', 'komal@gmail.com')
(5, 'Priya', 'Rajhans', 4, 5, 'MG Road Bangaluru', 'as@yahoo.com')
(2, 'Rajiv', 'Khanna', 5, 2, 'Cannought Place new Delhi', 'admin@khanna.com')

In [107]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, ForeignKey
# engine = create_engine('sqlite:///college.db', echo=True)
from sqlalchemy import Column, Integer, String, DateTime
from datetime import datetime
db_string = "postgresql://postgres:postgres@192.168.99.100:5436/reports"
engine = create_engine(db_string)
meta = MetaData()

conn = engine.connect()

# ins = orders.drop()
# conn = engine.connect()
# result = conn.execute(ins)

# orders.drop(engine) #drops a single table
meta.drop_all(engine) #drops all the tables in the database

orders = Table(
   'orders', meta, 
   Column('id', Integer, primary_key = True), 
   Column('vendor_id', String), 
   Column('customer_id', String), 
   Column('created_at', DateTime,default=datetime.utcnow), 
)
meta.create_all(engine)

conn.execute(orders.insert(), [
   {'vendor_id':'Ravi', 'customer_id':'Kapoor','created_at':datetime(2019, 4, 13)},
   {'vendor_id':'Rajiv', 'customer_id' : 'Khanna','created_at':datetime(2016, 9, 1)},
   {'vendor_id':'Komal','customer_id' : 'Bhandari','created_at':datetime(2017, 2, 3)},
   {'vendor_id':'Abdul','customer_id' : 'Sattar','created_at':datetime(2018, 3, 5)},
   {'vendor_id':'Priya','customer_id' : 'Rajhans','created_at':datetime(2018, 7, 5)},
   {'vendor_id':'Priya','customer_id' : 'Rajhans','created_at':datetime(2020, 5, 4)},

])
orderlines = Table(
   'orderlines', meta, 
   Column('id', Integer, primary_key = True), 
   Column('product_id', Integer), 
   Column('product_description', String), 
   Column('product_price', Integer),
   Column('discount_rate', Integer), 
   Column('quantity', Integer),
   Column('full_price_amount', Integer), 
   Column('discounted_amount', Integer),
   Column('vat_amount', Integer), 
   Column('total_amount', Integer),
   
)
meta.create_all(engine)
conn.execute(orderlines.insert(), [
   {'product_id':1, 'product_description':'Some product', 'product_price':5058,'discount_rate':1,'quantity':2,'full_price_amount':5058,'discounted_amount':58,'vat_amount':400,'total_amount':5000},
      {'product_id':2, 'product_description':'Some product', 'product_price':5058,'discount_rate':1,'quantity':2,'full_price_amount':5058,'discounted_amount':58,'vat_amount':400,'total_amount':5000},
         {'product_id':2, 'product_description':'Some product', 'product_price':5058,'discount_rate':1,'quantity':2,'full_price_amount':5058,'discounted_amount':58,'vat_amount':400,'total_amount':5000},
            {'product_id':3, 'product_description':'Some product', 'product_price':5058,'discount_rate':1,'quantity':2,'full_price_amount':5058,'discounted_amount':58,'vat_amount':400,'total_amount':5000},
 
])

meta.create_all(engine)

In [108]:
from sqlalchemy.sql import select
s = select([orders, orderlines]).where(orders.c.id == orderlines.c.id)
result = conn.execute(s)

for row in result:
   print (row)

(1, 'Ravi', 'Kapoor', datetime.datetime(2019, 4, 13, 0, 0), 1, 1, 'Some product', 5058, 1, 2, 5058, 58, 400, 5000)
(2, 'Rajiv', 'Khanna', datetime.datetime(2016, 9, 1, 0, 0), 2, 2, 'Some product', 5058, 1, 2, 5058, 58, 400, 5000)
(3, 'Komal', 'Bhandari', datetime.datetime(2017, 2, 3, 0, 0), 3, 2, 'Some product', 5058, 1, 2, 5058, 58, 400, 5000)
(4, 'Abdul', 'Sattar', datetime.datetime(2018, 3, 5, 0, 0), 4, 3, 'Some product', 5058, 1, 2, 5058, 58, 400, 5000)

In [109]:
The total number of items sold on that day.
The total number of customers that made an order that day.
The total amount of discount given that day.
The average discount rate applied to the items sold that day.
The average order total for that day
The total amount of commissions generated that day.
The average amount of commissions per order for that day.
The total amount of commissions earned per promotion that day.
•
•
•
•
•

SyntaxError: invalid syntax (<ipython-input-109-28d3348d5dc2>, line 1)

In [110]:
# The total number of items sold on that day.
from sqlalchemy.sql import select
import sqlalchemy as db
s=select([db.func.sum(orderlines.columns.total_amount)])
result = conn.execute(s)
print(result)
for row in result:
   print (row)

<sqlalchemy.engine.result.ResultProxy object at 0x079D1058>
(20000,)

In [111]:
# The total number of customers that made an order that day.

from sqlalchemy.sql import select
import sqlalchemy as db
s=select([db.func.count(orders.columns.customer_id),orders.columns.created_at]).group_by(orders.columns.created_at).order_by(db.desc(orders.columns.created_at))
result = conn.execute(s)
print(result)
for row in result:
   print (row)

<sqlalchemy.engine.result.ResultProxy object at 0x07821D48>
(1, datetime.datetime(2020, 5, 4, 0, 0))
(1, datetime.datetime(2019, 4, 13, 0, 0))
(1, datetime.datetime(2018, 7, 5, 0, 0))
(1, datetime.datetime(2018, 3, 5, 0, 0))
(1, datetime.datetime(2017, 2, 3, 0, 0))
(1, datetime.datetime(2016, 9, 1, 0, 0))

In [112]:
# The total amount of discount given that day
from sqlalchemy.sql import select
import sqlalchemy as db
s=select([db.func.sum(orderlines.columns.total_amount),orders.columns.created_at]).group_by(orders.columns.created_at)
result = conn.execute(s)
print(result)
for row in result:
   print (row)

<sqlalchemy.engine.result.ResultProxy object at 0x0783CAD8>
(20000, datetime.datetime(2018, 7, 5, 0, 0))
(20000, datetime.datetime(2016, 9, 1, 0, 0))
(20000, datetime.datetime(2019, 4, 13, 0, 0))
(20000, datetime.datetime(2017, 2, 3, 0, 0))
(20000, datetime.datetime(2018, 3, 5, 0, 0))
(20000, datetime.datetime(2020, 5, 4, 0, 0))

In [113]:
# The average discount rate applied to the items sold that day.


from sqlalchemy.sql import select
import sqlalchemy as db
s=select([db.func.avg(orderlines.columns.discounted_amount),orders.columns.created_at]).group_by(orders.columns.created_at)
result = conn.execute(s)
print(result)
for row in result:
   print (row)

<sqlalchemy.engine.result.ResultProxy object at 0x07EA2658>
(Decimal('58.0000000000000000'), datetime.datetime(2018, 7, 5, 0, 0))
(Decimal('58.0000000000000000'), datetime.datetime(2016, 9, 1, 0, 0))
(Decimal('58.0000000000000000'), datetime.datetime(2019, 4, 13, 0, 0))
(Decimal('58.0000000000000000'), datetime.datetime(2017, 2, 3, 0, 0))
(Decimal('58.0000000000000000'), datetime.datetime(2018, 3, 5, 0, 0))
(Decimal('58.0000000000000000'), datetime.datetime(2020, 5, 4, 0, 0))

In [114]:
# The average order total for that day

from sqlalchemy.sql import select
import sqlalchemy as db
s=select([db.func.avg(orderlines.columns.total_amount),orders.columns.created_at]).group_by(orders.columns.created_at)
result = conn.execute(s)
print(result)
for row in result:
   print (row)

<sqlalchemy.engine.result.ResultProxy object at 0x07DEC1F0>
(Decimal('5000.0000000000000000'), datetime.datetime(2018, 7, 5, 0, 0))
(Decimal('5000.0000000000000000'), datetime.datetime(2016, 9, 1, 0, 0))
(Decimal('5000.0000000000000000'), datetime.datetime(2019, 4, 13, 0, 0))
(Decimal('5000.0000000000000000'), datetime.datetime(2017, 2, 3, 0, 0))
(Decimal('5000.0000000000000000'), datetime.datetime(2018, 3, 5, 0, 0))
(Decimal('5000.0000000000000000'), datetime.datetime(2020, 5, 4, 0, 0))

In [115]:
 '''DATABASE_URI=postgresql://postgres:developpassword@image-storage-db/postgres
              dialect+driver://username:password@host:port/database
              postgresql://scott:tiger@localhost/mydatabase'''

'DATABASE_URI=postgresql://postgres:developpassword@image-storage-db/postgres\n             dialect+driver://username:password@host:port/database\n             postgresql://scott:tiger@localhost/mydatabase'

In [116]:
 '''DATABASE_URI=postgresql://postgres:postgres@places-db/places
 app.config['SQLALCHEMY_DATABASE_URI'] =postgresql://postgres:postgres@places-db/places
 app.config['SQLALCHEMY_DATABASE_URI'] =postgresql://postgres:postgres@192.168.99.100:5436/places'''

"DATABASE_URI=postgresql://postgres:postgres@places-db/places\napp.config['SQLALCHEMY_DATABASE_URI'] =postgresql://postgres:postgres@places-db/places\napp.config['SQLALCHEMY_DATABASE_URI'] =postgresql://postgres:postgres@192.168.99.100:5436/places"

In [117]:
'''app.config['SQLALCHEMY_DATABASE_URI'] = 'sqlite:////tmp/test.db'
For SQLlite, you just need a file path (as above) For MySQL, I have our app set up like so:

app.config['SQLALCHEMY_DATABASE_URI'] = 'mysql+pymysql://username:password@server.site.com/database'
You can read way more than you ever wanted to know about this in the SQLAlchemy docs:

http://docs.sqlalchemy.org/en/latest/core/engines.html#database-urls'''

"app.config['SQLALCHEMY_DATABASE_URI'] = 'sqlite:////tmp/test.db'\nFor SQLlite, you just need a file path (as above) For MySQL, I have our app set up like so:\n\napp.config['SQLALCHEMY_DATABASE_URI'] = 'mysql+pymysql://username:password@server.site.com/database'\nYou can read way more than you ever wanted to know about this in the SQLAlchemy docs:\n\nhttp://docs.sqlalchemy.org/en/latest/core/engines.html#database-urls"

In [118]:
print("iyhuj")

iyhuj

In [119]:
'''
docker exec -it reports-db psql -U postgres

DROP SCHEMA public CASCADE;
CREATE SCHEMA public;


drop table if exists orders2;
Entering the postgres container
Once the application is running, open a new Docker terminal or the equivalent, and run the following command

docker exec -it postgres psql -U postgres
This command runs the psql command (which is the command line for PostgreSQL) under the user postgres.

Connecting to a database
PostgreSQL can have multiple databases inside of it. In order to connect to one, you need to run the following command

\c <database_name>
Viewing the tables
To check all the tables that exist inside a database, run

\d
To check the details of a particular table, run

\d+ <table_name>
Exiting the container
To exit the container, run the following command

\q
'''

'\ndocker exec -it reports-db psql -U postgres\n\nDROP SCHEMA public CASCADE;\nCREATE SCHEMA public;\n\n\ndrop table if exists orders2;\nEntering the postgres container\nOnce the application is running, open a new Docker terminal or the equivalent, and run the following command\n\ndocker exec -it postgres psql -U postgres\nThis command runs the psql command (which is the command line for PostgreSQL) under the user postgres.\n\nConnecting to a database\nPostgreSQL can have multiple databases inside of it. In order to connect to one, you need to run the following command\n\n\\c <database_name>\nViewing the tables\nTo check all the tables that exist inside a database, run\n\n\\d\nTo check the details of a particular table, run\n\n\\d+ <table_name>\nExiting the container\nTo exit the container, run the following command\n\n\\q\n'

In [120]:
'''
tabases installed locally.

docker exec -it postgres1 sh
Inside that shell we can ask it to create a new database with the name mydb.

# createdb -U postgres mydb
And then let's launch the psql utility which is a CLI tool for PostgreSQL, connected to our mydb database:

# psql -U postgres mydb
Explore the database
Now inside psql, let's run some basic commands. \l lists the databases. We'll also ask for the database version, and the current date:

mydb=# \l
mydb=# select version();
mydb=# select current_date;
Now let's do something a bit more interesting. We'll create a table:

mydb=# CREATE TABLE people (id int, name varchar(80));
mydb=# INSERT INTO people (id,name) VALUES (1, 'Mark');
mydb=# SELECT * FROM people;

Now we can quit from psql with \q and exit from our shell

mydb=# \q 

--------------------------------------------

 a = db.session.query(User, UserGroups, Areas
 ).filter(User.user_id==1
 ).join(UserGroup,User.usergroup==UserGroup.group_id
 ).join(Areas, User.area==Areas.area_id
 ).first()
'''

"\ntabases installed locally.\n\ndocker exec -it postgres1 sh\nInside that shell we can ask it to create a new database with the name mydb.\n\n# createdb -U postgres mydb\nAnd then let's launch the psql utility which is a CLI tool for PostgreSQL, connected to our mydb database:\n\n# psql -U postgres mydb\nExplore the database\nNow inside psql, let's run some basic commands. \\l lists the databases. We'll also ask for the database version, and the current date:\n\nmydb=# \\l\nmydb=# select version();\nmydb=# select current_date;\nNow let's do something a bit more interesting. We'll create a table:\n\nmydb=# CREATE TABLE people (id int, name varchar(80));\nmydb=# INSERT INTO people (id,name) VALUES (1, 'Mark');\nmydb=# SELECT * FROM people;\n\nNow we can quit from psql with \\q and exit from our shell\n\nmydb=# \\q \n\n--------------------------------------------\n\n a = db.session.query(User, UserGroups, Areas\n ).filter(User.user_id==1\n ).join(UserGroup,User.usergroup==UserGroup.group_id\n ).join(Areas, User.area==Areas.area_id\n ).first()\n"

In [121]:
print("jgmj")

jgmj